@font-face {
    font-family: 'Senlot Norm Italic';
    src: url('BLNCOQ+Senlot-NorMedIt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Senlot Norm';
    src: url('YMRTYW+Senlot-NorMed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Senlot Norm Ext Italic';
    src: url('KHXGKY+Senlot-NorExBIt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Senlot Norm Ext';
    src: url('NAUSAS+Senlot-NorExB.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: 'Senlot Thin Italic';
    src: url('NORPAS+Senlot-ExtThiIt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Senlot Thin';
    src: url('DOUMQM+Senlot-ExtThi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body::before {
    content: "";
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind the content */
}

.card-menu {
    padding-bottom: 60px;
    background-color: transparent
}


@media only screen and (max-width: 600px) {
    /*body::before {*/
    /*    background-image: url('../media/logos/bg-mobile.png');*/

    /*}*/
    .card-menu {
        padding-bottom: 70px;
        background-color: transparent
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    /*body::before {*/
    /*    background-image: url('../media/logos/bg-ipad.png');*/
    /*}*/
    .card-menu {
        padding-bottom: 60px;
        background-color: transparent
    }
}

@media only screen and (min-width: 1200px) {
    /*body::before {*/
    /*    background-image: url('../media/logos/bg.png');*/
    /*}*/
    .card-menu {
        padding-bottom: 80px;
        background-color: transparent
    }
}


.scrolltop, .scrolltop:hover {
    background-color: white;
    opacity: 1 !important;
}

.bg-logo-dark {
    background-color: #851237 !important;
}

.bg-mskt {
    background-color: #F0E8DC !important;
}

.bg-logo-light {
    background-color: #EADDCA !important;
}

.text-logo-dark {
    color: #7E6540 !important;
}

.text-logo-light {
    color: #DAB88E !important;
}

.text-logo-lighter {
    color: #EADDCA !important;
}

/*.w--current .card {*/
/*    background-color: #ffffff !important;*/
/*    color: #b38a67 !important;*/
/*}*/
.w--current #cat_title {
    background-color: #ffffff !important;
    color: #7E6540 !important;
}

#cat_title {
    background-color: #7E6540 !important;
    font-weight: 600;
    position: absolute;
    bottom: -10px;
    right: 0;
    border-radius: 200px;
    padding: 0px 10px;
    line-height: 0.8;
    left: 0;
    width: 80%;
    margin: 0 auto;
}


.sticky-navigation {
    position: relative;
    top: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #F0E8DC;
}

.content {
    margin-top: 0; /* Adjust as needed */
}

.rounded-1 {
    border-radius: 1.5rem !important;
}

.truncate-text {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
    /* width: 200px; */
}

.heading::after {
    content: ' ';
    width: 35px;
    text-align: center;
    height: 9px;
    border-radius: 120px;
    background-color: #7E6540;
    left: 50%;
    transform: translate(-50%, 5px);
    position: absolute;
}

.lang-active{
    background-color: #7E6540;
    border-radius: 6px;
}
